# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm
.idea/

# Virtual environments
venv/
.venv/
env/

# Conda
conda-meta/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Hugging Face / model cache
.cache/
models/

.env